{% extends 'two-thirds-layout.njk' %}

{% block formContent %}
  {% from "summary-list/macro.njk" import govukSummaryList %}

  {{ govukSummaryList({
    rows: viewData.rows
  }) }}

  {% block continueButton %}{# Continue button not required here #}{% endblock %}

{% endblock %}